{% extends 'base.html' %}

{% block content %}
    <h2 class="pt-3">Enter Your Order</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="list-group">
        {% for cat, i in messages %}
            <li class="list-group-item list-group-item-{{ cat }}"> {{ i }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <div class = "mb-3">
            <label class="form-label font-weight-bold" for="title">Name</label>
            <input class="form-control" type="text" name="name"
                   placeholder="Name"
                   value="{{ request.form['name'] }}"></input>
        </div>

        <div class = "mb-3">
            <label class="form-label font-weight-bold" for="content">Session ID (5 Digits)</label>
            <input class="form-control" type="text" name="session"
                   placeholder="Session ID (5 digits)"
                   value="{{ request.form['session'] }}"></input>
        </div>

        <div class = "mb-3">
            <label class="form-label font-weight-bold" for="content">Order</label>
            <textarea class="form-control" name="order"
                      placeholder="Order"
                      rows="1"
                      >{{ request.form['order'] }}</textarea>
        </div>

        <div class = "mb-3">
            <label class="form-label font-weight-bold" for="content">Notes (Optional)</label>
            <textarea class="form-control" name="notes"
                      placeholder="Notes (if any)"
                      rows="5"
                      >{{ request.form['notes'] }}</textarea>
        </div>

        <div class="">  
            <label class="form-label font-weight-bold" for="price">Price (Optional)</label>
            <div class="input-group mb-3">
                <span class="input-group-text">$</span>
                <input class="form-control" type="text" name="price"
                       placeholder="Price of Order (if any)"
                       value="{{ request.form['price'] }}"></input>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}