{% extends 'base.html' %}

{% block content %}
    <h2 class="pt-3">Check Your Order List</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="list-group">
        {% for i in messages %}
            <li class="list-group-item list-group-item-danger">{{ i }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <div class = "mb-3">
            <label class="form-label font-weight-bold" for="title">Session ID (5 digits)</label>
            <input class="form-control w-25" id="session" type="text" name="session"
                   placeholder="Session ID"
                   value="{{ request.form['session'] }}"></input>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if orders %}
        {% if orders == "N" %}
            <p>This session ID is not currently in use.</p>
        {% else %}
                <table class="table table-striped table-hover table-responsive mt-5">
                    <thead class="">
                        <tr>
                            <th scope = "col">Name</th>
                            <th scope = "col">Order</th>
                            <th scope = "col">Notes</th>
                            <th scope = "col">Price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, value in orders.items() %}
                           <tr>
                                <th scope="row">{{ key }}</th>
                                <td>{{ value[0] }}</td>
                                <td>{{ value[1] }}</td>
                                <td>{{ value[2] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                <p>Total bill is <b>${{ total }}</b>. Want to export your orders? Click here: <button onclick="exportRequest({{ orders }})">EXPORT</button></p>
        {% endif %}
    {% endif %}
    <script>
        function exportRequest(orders) {
            fetch('/export', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                session: orders
              })
            })
            .then(response => response.blob())
            .then(blob => {
              // create a temporary link element to initiate the file download
              const url = window.URL.createObjectURL(new Blob([blob]));
              const link = document.createElement('a');
              link.href = url;
              link.setAttribute('download', 'export.xlsx');
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
            })
            .catch(error => console.error('Error exporting data:', error));
        }
    </script>
{% endblock %}