{% extends 'base.html' %}

{% block content %}
    <h1>OurOrder</h1>
    <h5>Check Your Order List</h5>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        <li>{{ messages[0] }}</li>
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <label for="title">Session ID (5 digits)</label>
        <br>
        <input type="text" name="session"
               placeholder="Session ID"
               value="{{ request.form['session'] }}"></input>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    {% if orders %}
        {% if orders == "N" %}
            <p>This session ID is not currently in use.</p>
        {% else %}
                <table>
                    <thead><tr><th>Name</th><th>Order</th><th>Notes</th><th>Price ($)</th></tr></thead>
                    <tbody>
                {% for key, value in orders.items() %}
                   <tr><td>{{ key }}</td><td>{{ value[0] }}</td><td>{{ value[1] }}</td><td>{{ value[2] }}</td></tr>
                {% endfor %}
                    </tbody>
                </table>
        {% endif %}
    {% endif %}
{% endblock %}