{% extends 'base.html' %}

{% block content %}
    <h1>OurOrder</h1>
    <h5>Check Your Order List</h5>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        <li>{{ messages[0] }}</li>
    </ul>
    {% endif %}
    {% endwith %}
    <form method="post">
        <label for="title">Session ID (5 digits)</label>
        <br>
        <input id="session" type="text" name="session"
               placeholder="Session ID"
               value="{{ request.form['session'] }}"></input>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    {% if orders %}
        {% if orders == "N" %}
            <p>This session ID is not currently in use.</p>
        {% else %}
                <table>
                    <thead><tr><th>Name</th><th>Order</th><th>Notes</th><th>Price ($)</th></tr></thead>
                    <tbody>
                {% for key, value in orders.items() %}
                   <tr><td>{{ key }}</td><td>{{ value[0] }}</td><td>{{ value[1] }}</td><td>{{ value[2] }}</td></tr>
                {% endfor %}
                    </tbody>
                </table>
                <br>
                <p>Total bill is <b>${{ total }}</b>. Want to export your orders? Click here: <button onclick="exportRequest({{ orders }})">EXPORT</button></p>
        {% endif %}
    {% endif %}
    <script>
        function exportRequest(orders) {
            fetch('/export', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                session: orders
              })
            })
            .then(response => response.blob())
            .then(blob => {
              // create a temporary link element to initiate the file download
              const url = window.URL.createObjectURL(new Blob([blob]));
              const link = document.createElement('a');
              link.href = url;
              link.setAttribute('download', 'export.xlsx');
              document.body.appendChild(link);
              link.click();
              document.body.removeChild(link);
            })
            .catch(error => console.error('Error exporting data:', error));
        }
    </script>
{% endblock %}